<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form action="save" v-on:submit.prevent="onSubmit">
            用户名：<input type="text" id="name" placeholder="请填写用户名" v-model="abc.username" required/>
            密码：<input type="password" id="password" placeholder="请输入密码" v-model="psd.password" required/> 
            记住密码：<input type="checkbox" v-model="ok"  > 
            <h1 v-if="ok">同意</h1>
            <h1 hidden v-else="error">拒绝</h1>
            <button type="submit">保存</button>
        </form>
    </div>
    <script src="vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {// 定义页面显示数据模型
                abc:{},
                psd:{},
                ok: false
            },
            methods:{
                onSubmit() {
                    if (this.abc.username) {
                        console.log('提交表单')
                    } else {
                        alert('请输入用户名')
                    }
                    if (this.psd.password){
                        console.log('提交表单')
                    }else {
                        alert('请输入密码')
                    }
                }
            }


        })
    </script>
</body>

</html>