<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzw.dao.EduMapper">
    <select id="selectEdu" resultType="com.lzw.pojo.Edu">
        select *
        from edu
        where id = #{id}
    </select>


    <select id="getEduList" resultType="com.lzw.pojo.Edu">
        select *
        from edu
    </select>

    <!-- useGeneratedKeys="true" keyProperty="id"
            设置自增 指定谁自增 可以获取自增的id值-->
    <insert id="addEdu" parameterType="com.lzw.dao.EduMapper"
            useGeneratedKeys="true" keyProperty="id">
        insert into edu(name, gender, school, grade)
        values (#{name}, #{gender}, #{school}, #{grade})
    </insert>

    <insert id="insertEdu">
        insert into edu(name,gender,school,grade)values
        <foreach item="item" collection="list" separator=",">
            (#{item.name},#{item.gender},#{item.school},#{item.grade})
        </foreach>
    </insert>

    <delete id="deleteEdu">
        delete
        from edu
        where id = #{id}
    </delete>

    <update id="updateEdu">
        update edu
        set id=#{id}
        where name = #{name}
    </update>

</mapper>
