<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzw.mapper.PersonMapper">

    <!--List<Map<String, Object>> selectAll();-->
    <select id="selectAll" resultType="com.lzw.entity.Person">
        select *
        from person;
    </select>
    
    <!--int update(Person person);-->
    <update id="updateOne">
        update person
        set number = number + 1
        where id = #{id};
    </update>
    
</mapper>
